body {
  font-family: 'Open Sans', sans-serif;
}
#information {
  text-decoration: underline;
}
#experience {
  text-decoration: underline;
}
#name {
  text-decoration: underline;
}
a {
  text-decoration: none;
  background-color: none;
  color: black;
}
